@{
    ViewBag.Title = "123232322";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">213232133233232</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>返回信息</h2>
        <p>
            @ViewBag.Token
        </p>
    </div>
  
</div>