
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" href="@Url.Content("~/Content/layui/css/layui.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/layui/layui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Jquery/jquery-3.3.1.min.js")"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>


