
@{
    Layout = "~/Views/Shared/CommonLayout.cshtml";
}

<div style="margin:10px auto;">
    <form class="layui-form" action="">
        <div class="layui-form-item" style="width: 351px;">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="account" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="width: 351px;">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="pwd" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>
<script>

    //Demo
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            $.ajax({
                url: '/Common/LoginByUser',
                method: 'post',
                data: { account: data.field.account, pwd: data.field.pwd},
                dataType: 'json',
                success: function (data) {
                    var ss = 123;
                    layer.msg(data);
                },
                error: function (data) {
                    var dd = 222;
                    layer.msg("错误+"+data);
                }
            });
           return false;
        });
       
    });
</script>


